@charset "UTF-8";

.animasjonsWrap { /*aniwrap 960*600 make sure overflow hidden, i like to have it visible while developing*/
	width: 960px;
	height: 600px;
	background-color: #2a2a2a;
	margin: auto;
	overflow: hidden;
}
body { /* margin remove and background color*/
	background-color: #000;
	margin: 0px;
}
.animasjonsWrap * { /*animasjons wrap alle barne elementer*/
	position: absolute;
	display: inline-block;
}
.button { /*buttons som sørger for at man kommer seg videre*/
	width: 300px;
	height: 40px;
	background-color: #FFF;
	border-color:black;
	border-style:solid;
	border-radius:10px;
	font-family:impact;
	top: 600px;
	left: -125px;
	-webkit-animation: showButton .5s linear 17s 1 forwards;
}
@-webkit-keyframes showButton{
	from{top: 600px;}
	to{top: 560px;}
}
.button:hover{ /*genrell button hover*/
	background-color: #FFF;
	color: #F00 
}
#button2 { /*buttton 2 når det er 2 buttons på skjermen*/
	margin: auto;
	top: 600px;
	left: -147px;
	-webkit-animation: showButtonTwo .5s linear 17s 1 forwards;
}
@-webkit-keyframes showButtonTwo{
	from{top: 600px;}
	to{top: 520px;}
}
#option1 { /*POSISION for options bar*/
	left: -147px;
}
#
#posNav {
	left: -100px;
	top: 600px;
}

#posPoliti {
	left: -125px;
	top: 520px;
}

#buttonPosFix {
	left: 330px;
}
#gjennstand1 { /*gennstand på teknisk museum*/
	width: 160px;
	left: -100px;
	position: relative;
	top: 250px;
}
#gjennstand2{ /*gennstand på teknisk museum*/
	position: relative;
	width: 170px;
	top: 130px;
	left: -40px;
}
#gjennstand3 { /*gennstand på teknisk museum*/
	width: 70px;
	left: 40px;
	top: 360px;
	cursor: crosshair;
}
.alternativ { /*Svar alternativ boks formatering slik at de set like ut og DRY*/
	height: 50px;
	width: 500px;
	margin: auto;
	top: 440px;
	left: -200px;
	background-color: #FFFFFF;
	border-color:black;
	border-style:solid;
	border-radius:10px;
	font-family:impact;
}
.alternativ:hover { /*hover effect på svar alternativet*/
	background-color: #FFFFFF;
	color: #F00

}
#alternativ1 { /*posisjon for svar alternativer*/
	top: 548px;
}
#alternativ2 { /*posisjon for svar alternativer*/
	top: 496px;
}
#alternativ3 { /*posisjon for svar alternativer*/
	top: 444px;
}
.question { /*der spørsmålet til listogs kontor kommer opp*/
	height: 80px;
	width: 960px;
	background-color: #fff;
	font-size: 1em;
	color: black;
	left: -480px;
	border-color:black;
	border-style:solid;
	border-radius:10px;
	position: absolute;
}
div { /*sørger for at alle diver har samme font og er sentrert med en passe størrelse*/
	font-family: Georgia, Arial, Verdana;
	text-align: center;
	font-size: 1.4em;
}
#blackbox {
	height: 100px;
	width: 960px;
	background-color: black;
	margin: auto;
	display: block;
	position: relative;
	top: 0px;	
}
a:link { /*link formatering*/
	color: #000;
	text-decoration: none;
}
a:visited { /*link formatering*/
	color: #000;
}
h1 { /*generel h1 formatering*/
	text-align: center;
	font-size: 2em;
	margin: 0px;
	font-family: Georgia, Arial, Verdana;
}
#spillTittel { /*Starts tittelen*/
	background-color: red;
	width: 960px;
	height: 150px;
	left: 100px;
	top: 200px;
	-webkit-animation: slideIn 5s ease 1 forwards;
}
@-webkit-keyframes slideIn {
	from {left: -1700px; color: #fff;}
	to{left: 0px; color: #57B816;}
}
#titleText { /*Tittel tekst med slide in animasjon brukes på flere titteler*/
	width: 960px;
	color: #fff;
	left: -900px;
	font-size: 4em;
	position: relative;
	-webkit-animation: slideIn 5s ease 1 forwards;
	-webkit-transition: color .2s linear;
}
#titleText:hover {
	color: #fff;
}

#creditButton { /*credits button fra startskjermen*/
	position: relative;
	width: 200px;
	height: 40px;
    top: 600px;
    opacity: 0;
	left: 760px;
	background-color: #af3333;
	font-size: 1.4em;
	-webkit-animation: popUp 0.3s linear 5s 1 forwards;
	-webkit-transition: all .1s linear;
}
#creditButton:hover {
	color: #F00;
	background-color: #000;
}
.credits {
	width: 600px;
	height: 100px;
	position: relative;
	left: -900px;
	color: #fff;
}
#edvin {
	-webkit-animation: scrolling 10s linear infinite;
}
#erlend {
	top: -60px;
	-webkit-animation: scrolling 10s linear 1s infinite;
}
#jon {
	top: -120px;
	-webkit-animation: scrolling 10s linear 2s infinite;
}
#markus {
	top: -180px;
	-webkit-animation: scrolling 10s linear 3s infinite;
}
#sara {
	top: -240px;
	-webkit-animation: scrolling 10s linear 4s infinite;
}
#sigrund {
	top: -300px;
	-webkit-animation: scrolling 10s linear 5s infinite;
}
#stian {
	top: -360px;
	-webkit-animation: scrolling 10s linear 6s infinite;
}
@-webkit-keyframes scrolling {
	0% {left: -700px; color: #000;}
	10% {left: -100px; color: #baffad;}
	90%{left: 100px; color: #fff; opacity: 1;} 
	100% {left: 700px; opacity: 0;}
}
@-webkit-keyframes popUp{
	0%{top: 600px; opacity: 0;}
	50%{top: 540px; opacity: 0;}
	100%{top: 560px; opacity: 1;}
}
#gameover { /*game over knapp*/
	height: 100px;
	width: 500px;
	background-color: #bbb;
	font-size: 3em;
	margin: auto;
	top: 200px;
	left: -230px;
	position: relative;
}
#gameover:hover { /*Game over knapp hover effekter*/
	-webkit-animation: pulse .5s linear infinite alternate;
}
@-webkit-keyframes pulse {
	0% {transform: scale(1);}
	100% {transform: scale(1.1);}
}
#startButton { /*Start Game knappen*/
	font-size: 3em;
	width: 400px;
	height: 80px;
	margin: auto;
	background-color: yellow;
	-webkit-animation: moveIn 5s ease 1 forwards;
	-webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
 
}
@-webkit-keyframes moveIn { /*StartButton Anmasjon startcreen.html*/
	from{left: -700px; top: -500px;}
	to{left: 300px; top: 300px;}
	}
.animasjonsWrap:hover a #startButton { /*Når man hovrer over blir den litt større og får en annen farge*/
	background-color: #0f0;
	transform: scale(2) rotate(1080deg);
	border-radius: 20%;
}
/* #rip{  RIP bilde som hører med til dead.html bakgrunnen, tok den vekk pga lite plass
	top: -20px;
	left: 500px;
	width: 200px;
	height: 200px;
	position: relative;
	-webkit-animation: leftSlide 5s ease 15s 1 forwards;
}
@-webkit-keyframes leftSlide {
	from {left: 800px;}
	to {left: 40px;}
}
*/

/*Bakgrunner går her.*/
#hawaii{
	background-image: url("../bilder/bakgrunner/hawaii.jpg");
}
#politi {
	background-image: url("../bilder/bakgrunner/politiBakgrunn.png");
}
#nav {
	background-image: url("../bilder/bakgrunner/navBakgrunn.png");
}
#oslofjord {
	background-image: url("../bilder/bakgrunner/oslofjord.png");
}
#stortinget  {
	background-image: url("../bilder/bakgrunner/stortingetMedLove.jpg");
	cursor: crosshair;
}
#kjemiLaerer {
	background-image: url("../bilder/bakgrunner/kjemiLarerKontor-redigert.jpg");
}
#osloDestroyed {
	background-image: url("../bilder/bakgrunner/barcode1.jpg");
}
#slottsparken {
	background-image: url("../bilder/Bakgrunner/slottsparken.jpg");
}
#sykehus {
	background-image: url("../bilder/Bakgrunner/legevakten-redigert.jpg");
}
#listog {
	background-image: url("../bilder/Bakgrunner/listogKontor-redigert.jpg");
}
#ripArne {
	background-image: url("../bilder/Bakgrunner/ripArneBakgrunn-redigert.jpg");
}
#tekniskmuseum {
	background-image: url("../bilder/Bakgrunner/tekniskMuseumBakgrunn.jpg");
	cursor: crosshair;
}
#startscreen{
	background-image: url("../bilder/karakterer/startscreen-karakterer.png");
	background-repeat: no-repeat;
}

#tekstBoks {
	background-color: red;
	left: -200px;
}
.bannerClass {   /*Dette er klassen til banneret som har en scrolling bakgrunnsbilde alt som de har til felles kodes her*/
	position: relative;
	width: 900px;
	height: 160px;
	margin: 0px auto;
	border: #3f3 1px solid;
	overflow: hidden;
}
div#banner > #bannerBackdrop { /*Dette er selve bilde som blir puttet in og animert*/ 
	position: relative;
	background-image: url(../bilder/objects/matrix.jpg);
	width: 1320px;
	height: 160px;
	-webkit-animation: backdropRoll linear 12s infinite;
}
#bannerContent { /*Dette er det som skal stå inne i banneret aka teksten som sier Back To Start etc*/
	position: relative;
	width: 96%;
	height: 160px;
	margin: 20px auto;
	top: -180px;
	color: #f00;
	font-size: 3.2em;
	-webkit-animation: textColor .5s linear infinite;
}
div#bannerZombie{ /*Posisijonene til Zombie banneret*/ 
	left: -350px;
	top: -500px;
	-webkit-animation: topToBottom 5s ease 10s 1 forwards;
}
div#bannerZombie > #bannerBackgroundZombie { /*Dette er selve bilde som blir puttet in og animert til Zombie banneret*/ 
	background-image: url(../bilder/objects/zombie.jpg);
	position: relative;
	width: 1320px;
	height: 200px;
	-webkit-animation: backdropRoll linear 12s infinite;
}
@-webkit-keyframes topToBottom { /*animasjon for zombie banneret*/
	from {top: -800px}
	to {top: 390px; left: -450px;}
}

@-webkit-keyframes textColor { /*Animasjon for blinkende tekst*/
	0% {color: green;}
	5% {color: white}
	6{color: green;}
}
@-webkit-keyframes backdropRoll { /*Animasjon for rulldende repeating background img*/ 
	from {right: 0px;}
	to {right: 225px;}
}
#tilbakeKnapp { /*Posision fix for Tilbake Knapp*/
	left: -600px;	
}
#tilbakeKnappCredits { /*Posision fix for Tilbake Knapp Credits*/
	left: 360px;
}

div.textDialog p{  /*generell format for alle p dialog tekster*/
	color: white;
	position: relative;
	top: 30%;
}
div.snakkeBobble p {
	top: -20px; 
}
.textDialog { /*dialog boksen under animasjons wrapen*/
	background-color: black;
	position: relative;
	width: 960px;
	height: 900px;
	top: -900px;
	text-align: center;
	margin: auto;
	-webkit-animation: fadeOverlay 2.5s linear 10s 1 forwards; /*Remeber to change back to 10 sec delay*/
}
#sykehusTextPos {
	top: -1200px;
}
#textPosFix {
	top: -1000px;
}
#textPosFixMotgift {
	top: -750px;
}
@-webkit-keyframes fadeOverlay {
	0% {opacity: 1; height:  900px;}
	99% {opacity: 0; height: 900px;}
	100% {height: 0px; opacity: 0;	}
}
.snakkeBobble { /*Snakkebobble for dialogene*/
	background-color: white;
	height: 150px;
	width: 400px;
	color: black;
	border-radius: 25%;
	opacity: 0;
	margin: auto;
	border: 2px solid #000;
	position: relative;
	transform: scale(.5);
	-webkit-animation: fadeIn 3s linear 12s 1 forwards;
	-webkit-transition: all 2s ease;
}
#snakkeBobbleSene1 {
	top: -700px;
	left: 0px;
}
.animasjonsWrap:hover ~ #snakkeBobbleSene1{
	transform: scale(1.2);
}
#snakkeBobbleDead {
	left: -290px;
	top: -680px;
	color: black
}
.animasjonsWrap:hover ~ #snakkeBobbleDead{
	transform: scale(1.2);
}
#snakkeBobbleFjord {
	height: 100px;
	top: -690px;
}
.animasjonsWrap:hover ~ #snakkeBobbleFjord{
	transform: scale(1.2);
}
#snakkeBobbleKjemi {
	height: 200px;
	top: -600px;

}
.animasjonsWrap:hover ~ #snakkeBobbleKjemi{
	transform: scale(1.2);
}

@-webkit-keyframes fadeIn {
	from{opacity: 0;}
	to {opacity: 1;}
}
div.snakkeBobble > p {
	top: 20%;
	color: black;
}
#nursePicture {
	position: relative;
	top: -722px;
	left: 328px;
	width: 160px;
	opacity: 0;
	-webkit-animation: nurseIn 5s ease 10s 1 forwards;
}
@-webkit-keyframes nurseIn {
	0%{left: 600px; opacity: 0;}
	50% {opacity: 0;}
	100% {left: 228px; opacity: 1;}
}
#heisenberg {
	width: 240px;
 	top: 125px;
 	left: 228px;
}
#sayMyName {
	left: 300px;
	opacity: 0;
	-webkit-transition: all 1s linear;
}
#heisenberg:hover ~ #sayMyName{
	opacity: 1;
	font-size: 2em;
}
#normarkitt {
	height: 40px;
	position: relative;
 	width: 100px;
 	cursor: crosshair;
 	top: 555px;
 	left: -250px;
}
#boms {
	top: 170px;
	height: 350px;
	left: -100px;
}
#listog-farger {
	width: 300px;
	left: 170px;
	top: 70px;
}
#listog-farger2 {
	width: 300px;
	position: relative;
	left: -200px;
}
#bomsFjord {
	width: 100px;
	left: -400px;
	top: 115px;
	position: relative;
	-webkit-animation: bomsDrukner 10s linear 12s 1 forwards;
}
@-webkit-keyframes bomsDrukner {
	0% {left: -400px; top: 115px;}
	10%{left: -300px; top: 115px; transform: rotate(15deg);}
	20% {left: -200px; top: 115px; transform: rotate(-15deg);}
	30% {left: -100px; top: 115px; transform: rotate(15deg);}
	60% {left: 0px; top: -120px; transform: rotate(360deg);}
	80% {left: 100px; top: 300px; opacity: 1;}
	82% {left: 120px; top: 310px;}
	84% {left: 100px; top: 320px;}
	86% {left: 120px; top: 330px;}
	88% {left: 100px; top: 340px;}
	90% {left: 120px; top: 350px;}
	92% {left: 100px; top: 360px;}
	94% {left: 120px; top: 370px;}
	96% {left: 100px; top: 380px;}
	98% {left: 120px; top: 390px;}
	100% {left: 100px; top: 500px; transform: rotate(60deg); opacity: 0;}
}


}
#zombie {
	-webkit-animation: walk 5s linear 0s infinite alternate;
}
@-webkit-keyframes walk {
	0% {
		left: -500px;
		transform: rotate(15deg);
	}
	10% {
		left: -450px;
		transform: rotate(-15deg);
	}
	20% {
		left: -400px;
		transform: rotate(15deg);
	}
	30% {
		left: -350px;
		transform: rotate(-15deg);
	}
	40% {
		left: -300px;
		transform: rotate(15deg);
	}
	50% {
		left: -250px;
		transform: rotate(-15deg);
	}
	60% {
		left: -200px;
		transform: rotate(15deg);
	}
	70% {
		left: -150px;
		transform: rotate(-15deg);
	}
	80% {
		left: -50px;
		transform: rotate(15deg);
	}
	90% {
		left: 0px;
		transform: rotate(-15deg);
	}
	100% {
		left: 50px;
		transform: rotate(15deg);
	}	
}

 #ingrediens1{
	font-size:40px;
	position:relative;
	display:block;
	height:30px;
	
}

#ingrediens2{
	height:30px;
	font-size:40px;
	position:relative;
	display:block;

}

#ingrediens3{
	height:30px;
	font-size:40px;
	position:relative;
	display:block;
}

#forsteBokstav1{
	-webkit-animation: BokstaveneFallerPaaPlass1 4s linear 13s forwards;
	position:relative;


}

#forsteBokstav2{
	-webkit-animation: BokstaveneFallerPaaPlass2 4s linear 15s forwards;
	position:relative;
}

#forsteBokstav3{
	-webkit-animation: BokstaveneFallerPaaPlass3 4s linear 17s forwards;
	position:relative;
}

@-webkit-keyframes BokstaveneFallerPaaPlass1{
	0%{
		transform:scale(1);

	}

	50%{
		color:red;
		left:0px;
		top:0px;
		transform:scale(1);

	}

	80%{
		transform:scale(1);
		left:20px;
		top:250px;
		color:red;

	}

	100%{
		left:20px;
		top:250px;
		color:red;
		transform:scale(2);

	}
}

@-webkit-keyframes BokstaveneFallerPaaPlass2{
	0%{
		transform:scale(1);

	}

	50%{
		color:red;
		left:0px;
		top:0px;
		transform:scale(1);

	}

	80%{
		transform:scale(1);
		left:140px;
		top:180px;
		color:red;

	}

	100%{
		left:140px;
		top:180px;
		color:red;
		transform:scale(2);

	}
}

@-webkit-keyframes BokstaveneFallerPaaPlass3{
	0%{
		transform:scale(1);

	}

	50%{
		color:red;
		left:0px;
		top:0px;
		transform:scale(1);

	}

	80%{
		transform:scale(1);
		left:190px;
		top:110px;
		color:red;

	}

	100%{
		left:190px;
		top:110px;
		color:red;
		transform:scale(2);

	}
}

#aapenbaring{
	opacity:0;
	height:30px;
	top:190px;
	font-size:25px;
	position:relative;
	display:block;
	-webkit-animation: aapenbaringenViserSeg 3s linear 20s forwards;
}

@-webkit-keyframes aapenbaringenViserSeg{
	0%{
		opacity:0;
	}

	100%{
		opacity:1;
	}
}

